html.main {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-size: 22px;
    font-family: "Open Sans", sans-serif;
  }

  h1.hello {
    font-size: 2em;
    position: relative;
    top: calc(50vh - 1em);
    text-align: center;
    font-weight: 100;
    color: rgba(0,0,0,0.7);
  }
}
